
<hr />

<center><h2 class="text-primary">Seja Bem Vindo</h2></center>
<hr>
<h1><a asp-action="Index" asp-controller="Admin">Ir</a></h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Gestão de Colaboradores
                </div>
                <div class="card-body">
                    <h5 class="card-title">Gestão de colaboradores</h5>
                    <p class="card-text">Sistema de gestão de colaboradors</p>
                    <a class="btn btn-primary" asp-controller="Menu" asp-action="Index" asp-area="SetorPessoal"><span class="glyphicon glyphicon-user"></span>  Acessar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                   Anotações
                </div>
                <div class="card-body">
                    <h5 class="card-title">Gestão de colaboradores</h5>
                    <p class="card-text">Sistema de gestão de colaboradors</p>
                    <a class="btn btn-primary" asp-controller="Menu" asp-action="Index" asp-area="SetorPessoal"><span class="glyphicon glyphicon-edit"></span>  Acessar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                   Admin
                </div>
                <div class="card-body">
                    <h5 class="card-title">Gestão de colaboradores</h5>
                    <p class="card-text">Sistema de gestão de colaboradors</p>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>